{% extends 'blog/base.html' %}

{% block content %}
    <h2 style="margin-left: 50px;">New Post<h2>
    <br>
    <form method="POST" action="" class="post_form" style="margin-left: 50px;">
        {% csrf_token %}
        <p>Title</p>
        {{ form.title }}
        <p>Content</p>
        {{form.text}}
        <br>
        <br>
        <button name="draft" type="submit" class="save btn btn-secondary" style="float: left;">Save as Draft</button>
        <button name="publish" type="submit" class="save btn btn-secondary" style="float: left; margin-left: 10px;">Publish</button>
    </form>
{% endblock content %}